<%= content_tag :h1, "My account" if @user.id == session[:user_id] %>
<h2><%= @user.username %> - <%= @user.email %></h2>
<% if @user.id == session[:user_id] %>
  <br />
  <%= link_to "New post", new_post_path %>
  <br /><br />
<% end %>
<h3>Posts</h3>
<% @posts.each do |post| %>
  <h4><%= post.title %></h4>
  <p><%= post.body %></p>
<% end %>
<%= link_to 'Back', users_path %>
